<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Existing</title>
</head>
<body>
    <h1>CHECK EXISTING PATIENT/HOUSE OF WORSHIP</h1>
    {{error}}
    {%if searching%}
    <form action="" method="POST">
        {%csrf_token%}
        {%if cat == "k" %}
        <div><label for="nik">Search NIK: </label></div>
        <input type="text" maxlength="20" required name="nik" id="nik">
        {%elif cat == "r"%}
        <div><label for="cnumb">Search House of Worship Certificate Number: </label></div>
        <input type="text" maxlength="20" required name="cnumb" id="cnumb">
        {%endif%}
    <button type="submit">CHECK</button>
    </form>
    {%elif confirming%}
        {%if cat == "k" %}
        <form action="/fundraising/create/kesehatan/check/confirming/" method="POST">
            {%csrf_token%}
            <div><label for="nik">NIK:</label></div>
            <input type="text" name="nik" id="nik" maxlength="20" readonly value="{{patient.0}}">

            <div><label for="name">Name:</label></div>
            <input type="text" name="name" id="name" maxlength="50" readonly value="{{patient.1}}">

            <div><label for="dob">Date Of Birth: </label></div>
            <input type="text" name="dob" id="dob" required readonly value="{{patient.2|date:'SHORT_DATE_FORMAT'}}">

            <div><label for="address">Address: </label></div>
            <input type="text" name="address" id="address" required maxlength="50" readonly value="{{patient.3}}">

            <div><label for="job">Job: </label></div>
            <input type="text" name="job" id="job" required maxlength="50" readonly value="{{patient.4}}">
            <div>
            <button type="submit">Confirm Patient</button>
            </div>
        </form>
        {%else%}
        <form action="/fundraising/create/rumahibadah/check/confirming/" method="POST">
            {%csrf_token%}
            <div><label for="cnumb">Certificate Number:</label></div>
            <input type="text" name="cnumb" id="cnumb" maxlength="20" readonly value="{{how.0}}">

            <div><label for="name">Name:</label></div>
            <input type="text" name="name" id="name" maxlength="50" readonly value="{{how.1}}">

            <div><label for="address">Address: </label></div>
            <input type="text" name="address" id="address" required maxlength="50" readonly value="{{how.2}}">

            <div><label for="type">Type:</label></div>
            <input type="text" name="type" id="type" maxlength="50" readonly value="{{how.3}}">
            <div>
            <button type="submit">Confirm House Of Worship</button>
            </div>
        </form>
        {% endif %}
    {%endif%}
    
   
</body>
</html>