<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create {% if cat == "k" %}Patient{%else%}House Of Worship{%endif%}</title>
</head>
<body>
    <h1>ADD A PATIENT/HOUSE OF WORSHIP</h1>
    <form action="" method="POST">
        {%csrf_token%}
        {%if cat == "k" %}
            <div><label for="nik">NIK:</label></div>
            <input type="text" name="nik" id="nik" maxlength="20">

            <div><label for="name">Name:</label></div>
            <input type="text" name="name" id="name" maxlength="50">

            <div><label for="dob">Date Of Birth: </label></div>
            <input type="date" name="dob" id="dob" required>

            <div><label for="address">Address: </label></div>
            <input type="text" name="address" id="address" required maxlength="50">

            <div><label for="job">Job: </label></div>
            <input type="text" name="job" id="job" required maxlength="50">
        {%else%}
            <div><label for="cnumb">Certificate Number:</label></div>
            <input type="text" name="cnumb" id="cnumb" maxlength="20">

            <div><label for="name">Name:</label></div>
            <input type="text" name="name" id="name" maxlength="50">

            <div><label for="address">Address: </label></div>
            <input type="text" name="address" id="address" required maxlength="50">

            <div><label for="type">Type:</label></div>
            <input type="text" name="type" id="type" maxlength="50">
        {%endif%}
        <div>
        <button type="submit">NEXT</button>
        </div>
    </form>
</body>
</html>