<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create A Fundraising</title>
</head>
<body>
    <h1>CREATE A FUNDRAISING</h1>
    <form action="" method="POST">
        {% csrf_token %}
    <div>
        <label for="category">Fundraising Category:</label>
    </div>
    <select name="category" id="category">
        {%for c in categories%}
        <option value="{{c.1.strip}}">{{c.1.strip}}</option>
        {%endfor%}
    </select>
    <button type="submit">NEXT</button>
    </form>
</body>
</html>