<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create A Fundraising</title>
</head>
<body>
    <h1>COMPLETE YOUR FUNDRAISING CREATION</h1>
    <form action="/fundraising/create/new/" method="POST">
        <h3>Fundraising General Information</h3>
        {%csrf_token%}
        <div><label for="fundid">Fundraising ID:</label></div>
        <input type="text" readonly value="{{fundid}}" name="fundid" id="fundid">

        <div><label for="email">Email: </label></div>
        <input type="text" readonly value="{{request.session.user.email}}" name="email" id="email">

        <div><label for="title">Title: </label></div>
        <input type="text" name="title" id="title" required>

        <div><label for="desc">Description: </label></div>
        <input type="text" name="desc" id="desc" required>

        <div><label for="city">City: </label></div>
        <input type="text" name="city" id="city" required maxlength="50">

        <div><label for="province">Province: </label></div>
        <input type="text" name="province" id="province" required maxlength="50">

        <div><label for="lastactive">Deadline: </label></div>
        <input type="date" name="lastactive" id="lastactive" required>

        <div><label for="target">Target (Rupiah): </label></div>
        <input type="number" name="target" id="target">

        <h3>Additional Fundraising Information</h3>
        <div><label for="cat">Category: </label></div>
        <input type="text" readonly value="{{cat}}">

        {% if health %}
        <div><label for="nik">NIK of Patient: </label></div>
        <input type="text" readonly value = "{{nik}}" name="nik">

        <div><label for="name">Patient Name: </label></div>
        <input type="text" readonly value = "{{name}}" name="name">

        <input type="text" hidden value="{{dob}}" name="dob">
        <input type="text" hidden value="{{address}}" name="address">
        <input type="text" hidden value="{{job}}" name="job">

        <div><label for="mdisease">Main Disease: </label></div>
        <input type="text" name="mdisease" id="mdisease" maxlength="50" required>
        {% elif how %}
        <div><label for="cnumb">House Of Worship Certificate Number: </label></div>
        <input type="text" readonly value="{{cnumb}}">
        
        <input type="text" hidden value="{{name}}" name="name">
        <input type="text" hidden value="{{address}}" name="address">
        <input type="text" hidden value="{{type}}" name="type">

        <div><label for="coa">Category Of Activity: </label></div>
        <select name="coa" id="coa">
            {% for c in coa %}
            <option value="{{c.0}}">{{c.1}}</option>
            {%endfor%}
        </select>

        {% endif %}
        <div><label for="repolink">Fundraising File: </label></div>
        <input type="text" required name="repolink" id="repolink">
        <div>
            <button type="submit">CREATE</button>
        </div>
    </form>
</body>
</html>