<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New/Existing</title>
</head>
<body>
    <h1>ADD OR CHECK FOR EXISITING?</h1>
    {% if category == "kesehatan" %}
    <div>
        <a href="/fundraising/create/kesehatan/new/">Add New Patient</a>
    </div>
    <div>
        <a href="/fundraising/create/kesehatan/check/searching/">Check Existing Patient</a>
    </div>
    {% else %}
    <div>
        <a href="/fundraising/create/rumahibadah/new/">Add New House Of Worship</a>
    </div>
    <div>
        <a href="/fundraising/create/rumahibadah/check/searching/">Check Existing House Of Worship</a>
    </div>
    {% endif %}
</body>
</html>