<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Comorbid</title>
</head>
<body>
    <h1>ADD COMORBID</h1>
    <form action="" method="POST">
        {%csrf_token%}
        <div><label for="fundid">Fundraising ID</label></div>
        <select name="fundid" id="fundid">
            {%for f in funds%}
            <option value="{{f.0}}">{{f.0}}</option>
            {%endfor%}
        </select>
        <div><label for="comorbid">Comorbid</label></div>
        <input type="text" required maxlength="50" name="comorbid" id="comorbid">
        <button type="submit">ADD</button>
    </form>
</body>
</html>