<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Comorbid Diseases</title>
</head>
<style>
    table,
    th,
    td {
      padding: 10px;
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
<body>
    <h1>MANAGE COMORBID DISEASES</h1>
    <a href="/fundraising/create/comorbid/">Add New Comorbid</a>
    <table>
        <tr>
            <td><b>ID</b></td>
            <td><b>Title</b></td>
            <td><b>Main Disease</b></td>
            <td><b>Comorbid Disease</b></td>
            <td><b>Action</b></td>
        </tr>
        {% for d in data %}
        <tr>
            <td>{{d.0}}</td>
            <td>{{d.1}}</td>
            <td>{{d.2}}</td>
            <td>
                <table>
                    {% for c in d.3 %}
                    <tr>
                        <td>
                            {{c}}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
            <td>
                <table>
                    {% for c in d.3 %}
                    <tr>
                        <td>
                            <div>
                                <a href="/fundraising/update/comorbid/{{d.0}}/{{c}}/">[Update]</a>
                            </div>
                            <div>
                                <a href="/fundraising/delete/comorbid/{{d.0}}/{{c}}/">[Delete]</a>
                            </div>
                        </td>
                    </tr>
                    {%endfor%}
                </table>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>