<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Personal Fundraisings</title>
</head>
<style>
    table,
    th,
    td {
      padding: 10px;
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
<body>
    <h1>PERSONAL FUNDRAISING LIST</h1>
    <table>
        <tr>
            <td><b>ID</b></td>
            <td><b>Title</b></td>
            <td><b>City</b></td>
            <td><b>Province</b></td>
            <td><b>Initial Active Date</b></td>
            <td><b>Deadline</b></td>
            <td><b>Remaining Days</b></td>
            <td><b>Fund. Target</b></td>
            <td><b>Category</b></td>
            <td><b>Verification Status</b></td>
            <td><b>Action</b></td>
        </tr>
        {% for f in all_funds %}
        <tr>
            <td>{{f.0}}</td>
            <td>{{f.1}}</td>
            <td>{{f.2}}</td>
            <td>{{f.3}}</td>
            <td>{{f.4}}</td>
            <td>{{f.5}}</td>
            <td>{{f.6}}</td>
            <td>{{f.7}}</td>
            <td>{{f.8}}</td>
            <td>{{f.9}}</td>
            <td>
                <div>
                    <a href="/fundraising/view/{{f.0}}/">[Detail]</a>
                </div>
                {% if f.9 == "Belum verifikasi" %}
                <div>
                    <a href="/fundraising/delete/{{f.0}}/">[Delete]</a>
                </div>
                <div>
                    <a href="/fundraiser/update/fundraising/{{f.0}}/">[Update]</a>
                </div>
                {% elif f.9 == "Terverfikasi" %}
                <div>
                    <a href="/fundraising/withdraw/funds/{{f.0}}">[Withdraw]</a>
                </div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>