<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Comorbid</title>
</head>
<body>
    <h1>UPDATE COMORBID</h1>
    <form action="" method="POST">
        {%csrf_token%}
        <div><label for="id">Fundraising ID: </label>{{c.0}}</div>
        <label for="c"></label><input type="text" name="c" required placeholder="{{c.1}}" maxlength="50" id="c">
        <button type="submit">update comorbid</button>
    </form>
</body>
</html>