<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Details of Personal Fundraising</title>
</head>
<style>
    table,
    th,
    td {
      padding: 10px;
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
<body>
    <h1>PERSONAL FUNDRAISING DETAILS</h1>
    <h3>Fundraising Details</h3>
    <div><b>Fundraising ID: </b>{{data.0}}</div>
    <div><b>Email: </b>{{data.1}}</div>
    <div><b>Title: </b>{{data.2}}</div>
    <div><b>Description: </b>{{data.3}}</div>
    <div><b>City: </b>{{data.4}}</div>
    <div><b>Province: </b>{{data.5}}</div>
    <div><b>Deadline: </b>{{data.6}}</div>
    <div><b>Target (rupiah): </b>{{data.7}}</div>
    <h3>Additional Fundraising Informaion</h3>
    <div><b>Category: </b>{{data.8}}</div>
    {% if data.8 == "kesehatan" %}
    <div><b>NIK of Patient: </b>{{data.12}}</div>
    <div><b>Patient name: </b>{{data.13}}</div>
    <div><b>Main Disease: </b>{{data.14}}</div>
    <div><b>Comorbid: </b></div>
    <ul>
    {% for c in comorbid %}
        <li>{{c.0}}</li>
    {%endfor%}
    </ul>
    {% elif data.8 == "rumah ibadah" %}
    <div><b>House of Worship Certificate Number</b> {{data.12}}</div>
    <div><b>Category Of Activity</b> {{data.13}}</div>
    {% endif %}
    <div><b>Fundraising File: </b> {{data.9}}</div>
    <div><b>Submission Notes:</b></div>
    <table>
        <tr>
            <td>FundID</td>
            <td>Timestamp</td>
            <td>Information</td>
        </tr>
        {% for n in notes %}
        <tr>
            <td>{{n.0}}</td>
            <td>{{n.1|date}}</td>
            <td>{{n.2}}</td>
        </tr>
        {% endfor %}
    </table>
    <div><b>Amount Collected: </b>{{data.10|default:0}}</div>
    <div><b>Donors: </b></div>
    <table>
        <tr>
            <td><b>Email</b></td>
            <td><b>Timestamp</b></td>
            <td><b>Nominal</b></td>
            <td><b>Prayer</b></td>
        </tr>
        {% for d in donations %}
        <td>{{d.0}}</td>
        <td>{{d.1}}</td>
        <td>{{d.2}}</td>
        <td>{{d.3}}</td>
        {% endfor %}
    </table>
    <div><b>Amount Used: </b> {{data.11|default:0}}</div>
    <div><b>Usage Details: </b></div>
    <table>
        <tr>
            <td><b>Time</b></td>
            <td><b>Nominal</b></td>
            <td><b>Description</b></td>
        </tr>
        {% for h in history %}
        <tr>
            <td>{{h.0}}</td>
            <td>{{h.1}}</td>
            <td>{{h.2}}</td>
        </tr>
        {%endfor%}
    </table>
    <a href="/fundraising/view/all/">back</a>
</body>
</html>