<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Withdraw Funds From Fundraising</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <h1>WITHDRAW FROM YOUR BALANCE</h1>
    <table align="center">
    <tr>
        <th>
            <h2 align="center">Donation Details</h2>
        </th>
    </tr>
    <tr>
        <td>
            <div>{{error}}</div>
            <div>DonaPay Balance: {{donapay.0}} </div>
            <div>Fundraising: {{fundraising.1}}</div>
            <form action="" method="POST">
                {% csrf_token %}
            <div><label for="nominal">Nominal (Rupiah): </label></div>
            <input type="text" name="nominal" id="nominal" required>
            <div><label for="description">Description</label></div>
            <input type="text" name="description" id="description" required maxlength="100">
            <div align="center"><button type="submit" align="center">Withdraw</button></div>
            </form>
        </td>
    </tr>
</table>
    
</body>
</html>