<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
</head>
<body>
    <h1>MY PROFILE</h1>
    <div><b>Email:</b> {{data.0}} </div>
    <div><b>Name:</b> {{data.2}}</div>
    <div><b>Phone Number:</b> {{data.3}}</div>
    <div><b>Address:</b> {{data.4}}</div>
    <div><b>Bank Name:</b> {{data.7}}</div>
    <div><b>Account Number:</b> {{data.6}}</div>
    <div><b>Type:</b> {{type}}</div>
    {% if type == "individual" %}
    <div><b>NIK:</b> {{data.13}}</div>
    <div><b>Date of Birth:</b> {{data.14 |date:"SHORT_DATE_FORMAT" }}</div>
    <div><b>Gender:</b> {{data.15}}</div>
    <div><b>Photo of ID:</b> {{data.8}}</div>
    {% elif type == "organization" %}
    <div><b>Organization Name: </b> {{data.14}}</div>
    <div><b>Deed of Establishment Number: </b> {{data.13}}</div>
    <div><b>Organization Phone: </b> {{data.15}}</div>
    <div><b>Year of Establishment:</b> {{data.16}}</div>
    <div><b>Photo of Deed of Establishment:</b> {{data.8}}</div>
    {% endif %}
    <div><b>DonaPay Balance: </b> {{data.5 | default:"0"}}</div>
    <div><b>Donation Wishlist: </b></div>
    <table>
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Category</td>
            <td>Action</td>
        </tr>
        {%for w in wishlist%}
        <tr>
            <td>{{w.0}}</td>
            <td>{{w.1}}</td>
            <td>{{w.2}}</td>
            <td>
                <div>
                    <a href="#">[DETAIL]</a>
                </div>
                <div>
                    <a href="/donation/donate/{{w.0}}/">[DONATE]</a>
                </div>
                <div>
                    <a href="/fundraiser/wishlist/delete/{{w.0}}/">[DELETE]</a>
                </div>
            </td>
        </tr>
        {%endfor%}
    </table>
    <div>
        <b>Number of Wishlist: {{wishlist|length}}</b>
    </div>
    <a href="/fundraiser/">back</a>
</body>
</html>