<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register as {{ type | default:"Fundraiser"}}</title>
</head>
<body>
    <h1>REGISTER AS A FUNDRAISER</h1>
    {% if page == 0 %}
    <form action="" method="POST">
        {% csrf_token %}
    <div><label for="email">Email: </label></div>
    <input type="email" name="email" id="email" required maxlength="50">

    <div><label for="pass">Password: </label></div>
    <input type="password" name="pass" id="pass" required maxlength="50">

    <div><label for="name">Name: </label></div>
    <input type="text" name="name" id="name" required maxlength="50">

    <div><label for="phone">Phone Number: </label></div>
    <input type="text" name="phone" id="phone" required maxlength="20">

    <div><label for="address">Address: </label></div>
    <input type="text" name="address" id="address" required>

    <div><label for="bank">Bank Name: </label></div>
    <input type="text" name="bank" id="bank" required>

    <div><label for="accnum">Account Number: </label></div>
    <input type="text" name="accnum" id="accnum" required maxlength="20">
    
    <div><label for="type">Type: </label></div>
    <select name="type" id="type" required>
        <option value="individual">INDIVIDUAL</option>
        <option value="organization">ORGANIZATION</option>
    </select>
    <div>
    <button type="submit">NEXT</button>
    </div>
    </form>
    {% else %}
    <form action="/fundraiser/register/1/" method="POST">
        {% csrf_token %}
    <input type="email" name="email" id="email" value="{{ email }}" hidden>
    <input type="password" name="pass" id="pass" value="{{ password }}" hidden>
    <input type="text" name="name" id="name" value="{{ name }}" hidden>
    <input type="text" name="phone" id="phone" value="{{ phone }}" hidden>
    <input type="text" name="address" id="address" value="{{ address }}" hidden>
    <input type="text" name="bank" id="bank" value="{{ bank }}" hidden>
    <input type="text" name="accnum" id="accnum" value="{{ accnum }}" hidden>
    <input type="text" name="type" id="type" value="{{ type }}" hidden>
    {% if type == "individual" %}
    <div><label for="nik">NIK: </label></div>
    <input type="text" name="nik" id="nik" required maxlength="50">

    <div><label for="dob">Date Of Birth: </label></div>
    <input type="date" name="dob" id="dob" required>

    <div><label for="gender">NIK: </label></div>
    <select name="gender" id="gender">
        <option value="M">Male</option>
        <option value="F">Female</option>
    </select>

    <div><label for="repolink">Photo of ID Card: </label></div>
    <input type="text" name="repolink" id="repolink" required>
    {% elif type == "organization" %}
    <div><label for="orgname">Organization Name: </label></div>
    <input type="text" name="orgname" id="orgname" required maxlength="50">

    <div><label for="doen">Deed of Establishment Number: </label></div>
    <input type="text" name="doen" id="doen" required maxlength="20">

    <div><label for="orgphone">Organization Phone: </label></div>
    <input type="text" name="orgphone" id="orgphone" required maxlength="20">

    <div><label for="yoe">Year of Establishment: </label></div>
    <input type="number" name="yoe" id="yoe" required>

    <div><label for="repolink">Photo of Deed of Establishment: </label></div>
    <input type="text" name="repolink" id="repolink" required>
    {% endif %}
    <div>
    <button type="submit">REGISTER</button>
    </div>
    </form>
    {% endif %}
</body>
</html>