<!DOCTYPE html>
<html>
<head>
    <title>Update Fundraising</title>
</head>
<style>
    div{
        margin: auto;
        width: fit-content;
        block-size: fit-content;
        border: 2px solid ;
        padding: 0px 50px;
        padding-bottom: 10px;
    }
    table{
        border: 2px solid;
    }
    th, tr, td{
        border: 2px solid;
    }
    h1{
        padding: 20px;
        text-align: center;
        font-size: 20px;
    }
</style>
<body>
    <div class = "container">
<h1>Fundraising Update Form </h1>
{% for item in fundraising %}
<form action="" method="POST">
    {% csrf_token %}
<p>Fundraising ID: {{item.0}}</p>
<p>Email:{{item.14}} </p>
<p>Title: <input type="title" name="title" id="title"  required > </p>
<p>Description:  <input type="description" name="description" id="description"  required>  </p>
<p>City: <input type="city" name="city" id="city"  required></p>
<p>Province: <input type="province" name="province" id="province"  required> </p>
<p>Target (Rupiah): <input type="target" name="target" id="target" required> </p>
<p>Verification Status: {{item.6}} </p>
{% if item.6 == 'Belum verifikasi'%}
<p>Verified By: - </p>
{%else%}
<p>Verified By:{{item.15}} </p>
{%endif%}


<h1>Additional Fundraising Information</h1>
<p>Category: {{item.18}} </p>
{% if item.18 == 'kesehatan' %}

<p>NIK of Patient:<select type="nik" name="nik" id="nik" required>
    {% for i in patient%}
    <option value = "{{i.0}}">{{i.0}}</option>{%endfor%} </select></p>
    

<p>Main Disease: <input type="disease" name="disease" id="disease" required> </p>

{% elif item.18 == 'rumah ibadah'%}

<p>House of Worship Certificate Number:<select type="certif" name="certif" id="certif" required>
    {% for i in certif_numb%}
    <option value = "{{i.0}}">{{i.0}}</option>{%endfor%} </select></p>
<p>Activity Category:<input type="activity" name="activity" id="activity" required> </p>

{%endif%}
<p>Fundraising File: <input type="files" name="files" id="files" required> </p>
{%if notes%}
{% for i in notes %}
<p>Submission Notes:{{i.0}}</p>
{%endfor%}
{%else%}
<p>Submission Notes:-</p>
{%endif%}
</table>
{%endfor%}
<button type="submit">Update</button>
</form>

</div>
</body>

</html>