<!DOCTYPE html>
<html lang="en">
    <style>
        table, th, td {
          border:1px solid black;
        }
        </style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Fundraisings</title>
</head>
<body>
    <h1>ALL FUNDRAISINGS! LETS DONATE!</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>City</th>
            <th>Province</th>
            <th>End Date</th>
            <th>Remaining Days</th>
            <th>Fund Target</th>
            <th>Category</th>
            <th>Action</th>
          </tr>
          {%for items in fundraising%}
          <tr>
            <td>{{items.0}}</td>
            <td>{{items.1}}</td>
            <td>{{items.3}}</td>
            <td>{{items.4}}</td>
            <td>{{items.9|date:'SHORT_DATE_FORMAT'}}</td>
            <td>{{items.13}}</td>
            <td>{{items.10}}</td>
            <td>{{items.18}}</td>
            <td>
                <div>
                <a href= "/fundraiser/view/fundraising/{{items.0}}/" class = "button">Details</a>
                </div>
                {% if type == 'individual'%}
                <div>
                <a href= "/donation/donate/{{items.0}}/" class = "button">Donate</a>
                </div>
                {%endif%}
                <div>
                <a href= "/wishlist/add/{{items.0}}/" class = "button">Add to wishlist</a>
                </div>
          </tr>
          {%endfor%}
          
    </table>

</body>
</html>