<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fundraising Category Form</title>
</head>
<body>
    <h1>Create New Category</h1>
    <p>Category ID: {{id}}</p>
    <form action="" method="POST">
        {% csrf_token %}
    <div><label for="category">Category</label></div>
    <input type="category" name="category" id="category" required>
    <div><button type="submit">Create</button></div>
    </form>
</body>
</html>