<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register as Admin</title>
</head>
<body>
    <h1>REGISTER AS AN ADMIN</h1>
    <form action="" method="POST">
        {% csrf_token %}
    <div><label for="email">Email</label></div>
    <input type="email" name="email" id="email" required maxlength="50">
    <div><label for="pass">Password</label></div>
    <input type="password" name="pass" id="pass" required maxlength="50">
    <div><label for="name">Name</label></div>
    <input type="text" name="name" id="name" required maxlength="50">
    <div><label for="phone">Phone Number</label></div>
    <input type="text" name="phone" id="phone" required maxlength="20">
    <div><button type="submit">Register</button></div>
    </form>
</body>
</html>