<!DOCTYPE html>
<html>
<head>
<title>Verify Fundraising {{id}}</title>
</head>
<style>
    div{
        margin: auto;
        width: fit-content;
        block-size: fit-content;
        border: 2px solid ;
        padding: 0px 50px;
        padding-bottom: 10px;
    }
    #description{
        padding:  0.4em;
        padding-bottom:190px;
        width: 400px;

        
    }

    h1{
        text-align: center;
        margin-bottom: 35px;    
        }
    
    #nominal {
        width: 400px;
    }


    
</style>

<body>
    <div class = 'container'>
<h1>Fundraising Verification Form </h1>
<form action="" method="POST">
    {% csrf_token %}
<label for="note">Note:</label><br><br>
<textarea id= "note" name = "note" required></textarea><br><br>
<input type = "submit" id = "status" value = "Approve" formaction="/systemadmin/verify/fundraising/{{id}}/approve/">
<input type = "submit" id = "status" value = "Reject" formaction="/systemadmin/verify/fundraising/{{id}}/reject/">
    </div>
</body>

</html>