<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER DONATION DATA</title>
</head>
<body>
    <h1>ALL DONATIONS</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Category</th>
            <th>Payment status</th>
            <th>Action</th>
        </tr>
        {% for donation in data %}
        <tr>
        <td>{{donation.0}}</td>
        <td>{{donation.1}}</td>
        <td>{{donation.2}}</td>
        <td>{{donation.3}}</td>
        <td>
        <div>
            <a href="/systemadmin/view/donation/{{ donation.5 }}/{{ donation.4 }}/">[DETAIL]</a>
            <a href="/systemadmin/view/donation/proof/{{ donation.5 }}/{{ donation.4 }}/">[VIEW]</a>
        </div>
        {% if donation.3 == "pengecekan" %}
            <div>
                <a href="/systemadmin/verify/donation/{{ donation.5 }}/{{ donation.4 }}/">[Payment Verification]</a>
            </div>
        {% endif %}
        </td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>