<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Registered Users System Admin</title>
</head>
<style>
    table,
    th,
    td {
      padding: 10px;
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
<body>
    <h1>ALL REGISTERED USERS</h1>
    <table>
        <tr>
            <td>E-mail</td>
            <td>Name</td>
            <td>Type</td>
            <td>Status</td>
            <td>Action</td>
        </tr>
        {% for i in individuals %}
        <tr>
            <td>{{i.0}}</td>
            <td>{{i.1}}</td>
            <td>Individual</td>
            <td>{{i.2}}</td>
            <td>
                <div>
                    <a href="/systemadmin/view/fundraiser/{{i.0}}/">[Detail]</a>
                </div>
                {% if i.2|lower == "belum verifikasi" %}
                <div>
                    <a href="/systemadmin/verify/{{i.0}}/">[Verify User]</a>
                </div>
                {%endif%}
            </td>
        </tr>
        {% endfor %}
        {% for o in organizations %}
        <tr>
            <td>{{o.0}}</td>
            <td>{{o.1}}</td>
            <td>Organization</td>
            <td>{{o.2}}</td>
            <td>
                <div>
                    <a href="/systemadmin/view/fundraiser/{{o.0}}/">[Detail]</a>
                </div>
                {% if o.2|lower == "belum verifikasi" %}
                <div>
                    <a href="/systemadmin/verify/{{o.0}}/">[Verify User]</a>
                </div>
                {%endif%}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>