<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data.2}}'s Profile</title>
</head>
<body>
    <h1>USER PROFILE</h1>
    <div><b>Email:</b> {{data.0}} </div>
    <div><b>Name:</b> {{data.2}}</div>
    <div><b>Phone Number:</b> {{data.3}}</div>
    <div><b>Address:</b> {{data.4}}</div>
    <div><b>Bank Name:</b> {{data.7}}</div>
    <div><b>Account Number:</b> {{data.6}}</div>
    <div><b>Type:</b> {{type}}</div>
    {% if type == "individual" %}
    <div><b>NIK:</b> {{data.13}}</div>
    <div><b>Date of Birth:</b> {{data.14 |date:"SHORT_DATE_FORMAT" }}</div>
    <div><b>Gender:</b> {{data.15}}</div>
    <div><b>Photo of ID:</b> {{data.8}}</div>
    {% elif type == "organization" %}
    <div><b>Organization Name: </b> {{data.14}}</div>
    <div><b>Deed of Establishment Number: </b> {{data.13}}</div>
    <div><b>Organization Phone: </b> {{data.15}}</div>
    <div><b>Year of Establishment:</b> {{data.16}}</div>
    <div><b>Photo of Deed of Establishment:</b> {{data.8}}</div>
    {% endif %}
    <a href="/systemadmin/view/fundraiser/all/">back</a>
</body>
</html>