<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>DONATION DETAILS</h1>
    <h5>Donor Email: {{data.0}}</h5>
    <h5>Timestamp: {{data.1}}</h5>
    <h5>Fundraising Title: {{data.2}}</h5>
    <h5>Nominal(rupiah): {{data.3}}</h5>
    <h5>Payment Method: {{data.4}}</h5>
    <h5>Anonymous Status: {{data.5}}</h5>
    <h5>Prayer: {{data.6}}</h5>
    <a href="/systemadmin/view/donations/all/" style = 'align: center'>cancel</a>
</body>
</html>