<!DOCTYPE html>
<html>
<head>
    <title>Fundraising Details System Admin</title>
</head>
<style>
    div{
        margin: auto;
        width: fit-content;
        block-size: fit-content;
        border: 2px solid ;
        padding: 0px 50px;
        padding-bottom: 10px;
    }
    table{
        border: 2px solid;
    }
    th, tr, td{
        border: 2px solid;
    }
    h1{
        padding: 20px;
        text-align: center;
        font-size: 20px;
    }
</style>
<body>
    <div class = "container">
<h1>Fundraising General Information </h1>
{% for item in fundraising %}
<p>Fundraising ID: {{item.0}}</p>
<p>Email:{{item.14}} </p>
<p>Title: {{item.1}}</p>
<p>Description: {{item.2}} </p>
<p>City: {{item.3}}</p>
<p>Province: {{item.4}} </p>
<p>Target (Rupiah): {{item.10}} </p>
<h1>Additional Fundraising Information</h1>
<p>Category: {{item.18}} </p>
{% if item.18 == 'kesehatan' %}
{% for i in category %}
<p>NIK of Patient:{{i.3}} </p>
<p>Patient Name: {{i.4}}</p>
<p>Main Disease: {{i.1}} </p>
<p>Comorbid: {{i.9}} </p>
{%endfor%}
{% elif item.18 == 'rumah ibadah'%}
{% for i in category %}
<p>House of Worship Certificate Number:{{i.1}}</p>
<p>Activity Category: {{i.4}}</p>
{%endfor%}
{%endif%}
<p>Fundraising File: {{item.5}} </p>
{%if notes%}
{% for i in notes %}
<p>Submission Notes:{{i.0}}</p>
{%endfor%}
{%else%}
<p>Submission Notes:-</p>
{%endif%}

<p>Amount Collected: {{item.12}} </p>
<table>
    <tr>
        <th>Email</th>
        <th>Timestamp</th>
        <th>Nominal</th>
        <th>Prayer</th>
    </tr>
    {%if donation %}
    {% for donation_item in donation%}
    <tr>
        {%if donation_item.9 == 'sukses'%}
        <td>{{donation_item.0}}</td>
        <td>{{donation_item.1}}</td>
        <td>{{donation_item.2}}</td>
        <td>{{donation_item.5}}</td>
        {%endif%}
    </tr>
    {%endfor%}
    {%else%}
    <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    {%endif%}

</table>

<p>Amount Used: {{item.13}} </p>
<table>
    <tr>
        <th>Email</th>
        <th>Timestamp</th>
        <th>Nominal</th>
    </tr>
    {%if history_fund%}
    {%for i in history_fund%}
    <tr>
        <td>{{i.1}}</td>
        <td>{{i.2}}</td>
        <td>{{1.3}}</td>
    </tr>
    {%endfor%}
    {%else%}
    <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    {%endif%}
</table>
{%endfor%}
<a href= "/systemadmin/view/fundraising/all/" class = "button">Cancel</a>
</div>
</body>

</html>