<!DOCTYPE html>
<html lang="en">
    <style>
        table, th, td {
          border:1px solid black;
        }
        </style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Categories System Admin</title>
</head>
<body>
  <h1>ALL CATEGORIES SYSTEM ADMIN</h1>
  <a href="/systemadmin/create/category/">Add a new Category</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Category Name</th>
            <th>Action</th>
          </tr>
          {%for items in category%}
          <tr>
            <td>{{items.0}}</td>
            <td>{{items.1}}</td>
            <td> <a href= "/systemadmin/update/category/{{items.0}}/" class = "button">Update</a>
          </tr>
          {%endfor%}
          
    </table>

</body>
</html>