<!DOCTYPE html>
<html lang="en">
    <style>
        table, th, td {
          border:1px solid black;
        }
        </style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Fundraisings System Admin</title>
</head>
<style>
  table,
  th,
  td {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
  }
</style>
<body>
  <h1>ALL FUNDRAISINGS SYSTEM ADMIN</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>City</th>
            <th>Province</th>
            <th>Initial Active Date</th>
            <th>Deadline</th>
            <th>Remaining Days</th>
            <th>Target</th>
            <th>Category</th>
            <th>Verification Status</th>
            <th>Action</th>
          </tr>
          {%for items in fundraising%}
          <tr>
            <td name = 'id'>{{items.0}}</td>
            <td>{{items.1}}</td>
            <td>{{items.3}}</td>
            <td>{{items.4}}</td>
            <td>{{items.8}}</td>
            <td>{{items.9}}</td>
            <td>{{items.13}}</td>
            <td>{{items.10}}</td>
            <td>{{items.18}}</td>
            <td name = 'status'>{{items.6}}</td>
            {% if items.6 == 'Belum verifikasi' %}
            <td>
                <a href= "/systemadmin/view/fundraising/{{items.0}}/" class = "button">Details</a>
                <a href= "/systemadmin/verify/fundraising/{{items.0}}/" class = "button">Verification</a>
            {% else %}
            <td> <a href= "/systemadmin/view/fundraising/{{items.0}}/" class = "button">Details</a>
            {%endif%}
          </tr>
          {%endfor%}
          
    </table>

</body>
</html>