<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donation Form</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
    <body>
        <table align="center">
            <tr>
                <th>
                    <h2 align="center">Donation Form</h2>
                </th>
            </tr>
             <tr>
                <td>
                    <p>Donor Email: {{email.0}}</p>
                    <p>Timestamp: {{timestamp}}</p>
                    <p>Fundraising Title: {{title.1}}</p>
                    <form action="" method="POST">
                    {% csrf_token %}
                    <p><label for="nominal">Nominal (Rupiah): </label></p>
                    <input type="text" name="nominal" id="nominal" required>
                    <p>Payment Method: <select name="paymentMethod" id="paymentMethod">
                        <option value="Transfer">Transfer</option>
                        <option value="DonaPay">DonaPay</option>
                    </select></p>
                    <p>Anonymous Status: <select name="status" id="status">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select></p>
                    <p><label for="prayer">Prayer</label></p>
                        <input type="text" name="prayer" id="prayer" required maxlength="100">
                    <p align="center"><button type="submit">Create</button></p>
                    </form>
                </td>
            </tr>
        </table>
    </body>
</html>