<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Fundraising Title: {{fundtitle}}</h3>
    <form action="" method = "POST">
        {% csrf_token %}
        <h4>Proof of Payment:</h4>
        <input type="text" name = "proof">
        <button type = "submit">UPLOAD</button>
    </form>
</body>
</html>