<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Donation</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        button {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <h2 align="center">User Donation Data</h2>
    <table align="center">
        <tr align="center">
            <td>ID</td>
            <td>Title</td>
            <td>Category</td>
            <td>Payment status</td>
            <td>Action</td>
        </tr>

        {% for donation in data %}
        <tr>
        <td>{{donation.0}}</td>
        <td>{{donation.1}}</td>
        <td>{{donation.2}}</td>
        <td>{{donation.3}}</td>
        <td>
        <div>
            <a href="/donation/view/{{ donation.4 }}/">[DETAIL]</a>
        </div>
        {% if donation.3 == "sukses" or donation.3 == "pengecekan" %}
            <div>
                <a href="/donation/view/proof/{{ donation.4 }}/">[VIEW]</a>
            </div>
        {% elif donation.3 == "menunggu pembayaran" %}
            <div>
                <a href="/donation/upload/proof/{{ donation.4 }}/">[UPLOAD]</a>
            </div>
        {% endif %}
        </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>