<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donation Details</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        button {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <h2 align="center">Donation Details</h2>
    <table align="center">
        <tr align="center">
    <div>
    Email: {{donationView.0}}
    </div>
    <div>
    Timestamp: {{donationView.1}}
</div>
<div>
    Amount: {{donationView.2}}
</div>
    Payment Method: {{donationView.3}}
    <div>
    Anonymous Status: {{donationView.4}}
</div>
<div>
    Prayer: {{donationView.5}}
</div>
    <tr align="center">
    <th align="center"><a href="/donation/view/all">[BACK]</a></th>
</tr>
</tr>
</table>
</body>
</html>