{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Sidona</title>
{% endblock meta %}

{% block content %}
  <h1>Welcome to Sidona</h1>
  {% if request.session.user %}
  <div>Hello, {{request.session.user.name}}!</div>
    {% if request.session.user.type != "admin" %}
    <div><a href="/fundraiser/">FUNDRAISER LANDING PAGE</a></div>
    <div><a href="/fundraising/">FUNDRAISING LANDING PAGE</a></div>
      {% if request.session.user.type != "organization"%}
      <div><a href="/donation/">DONATION LANDING PAGE</a></div>
      {% endif %}
    {% else %}
    <div><a href="/systemadmin/">SYSTEM ADMIN LANDING PAGE</a></div>
    {% endif %}
    <div><a href="/logout/">LOGOUT</a></div>
  {% else %}
  <div><a href="/register/">REGISTER</a></div>
  <div><a href="/login/">LOGIN</a></div>
  {% endif %}
{% endblock content %}
