<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LOGIN</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <div>
        <label for="email">Email: </label>
        </div>
        <input type="email" name="email" id="email">
        <div>
            <label for="password">Password: </label>
        </div>
        <input type="password" name="pass" id="password">
        <div>
        <button type="submit">Login</button>
    </div>
    </form>
</body>
</html>